<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>APP后台管理系统</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/green.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/font.min.css}" rel="stylesheet"/>-->
    <!--<link href="../../static/css/font-awesome.min.css" rel="stylesheet"/>-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/nprogress.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jqvmap.min.css}" rel="stylesheet"/>
    <link th:href="@{/localcss/applist.css}" rel="stylesheet"/>
</head>
<body class="nav-md footer_fixed">
<div class="container body">
    <div class="main_container">

        <div th:replace="backend/header::head1"></div>
        <div th:replace="backend/header::head2"></div>
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>修改APP基础信息 <i class="fa fa-user"></i><small>
                                    <span th:text="${session.backinfo.getUserName()}"></span></small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form class="form-horizontal form-label-left" th:action="@{/manager2/backend/app/appadmodifysave}" method="post" enctype="multipart/form-data">
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件名称 <span class="required"></span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="softwareName" class="form-control col-md-7 col-xs-12"
                                                   data-validate-length-range="20" data-validate-words="1"
                                                    th:value="${appinfoid.softwareName}"  readonly="readonly"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="adPV">点击量 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="adPV" type="number" class="form-control col-md-7 col-xs-12"
                                                   name="adPV" th:value="${adPromotion.adPV}" required="required"/>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="carouselPosition">轮播位 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="carouselPosition" class="form-control col-md-7 col-xs-12"
                                                   name="carouselPosition" th:value="${adPromotion.carouselPosition}" required="required"
                                                   data-validate-length-range="20" data-validate-words="1"
                                                   placeholder="请输入轮播位" type="text"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="startTime">广告起效时间 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="startTime" class="form-control col-md-7 col-xs-12"
                                                   data-validate-length-range="20" data-validate-words="1"  required="required"
                                                   name="startTime" th:value="${adPromotion.startTime}"
                                                   placeholder="" type="text"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="endTime">广告失效时间 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="endTime" name="endTime" th:value="${adPromotion.endTime}" required="required"
                                                    class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >创建用户 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input readonly="readonly" value="admin"
                                                   class="form-control col-md-7 col-xs-12"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="creationDate">创建时间 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="creationDate" name="creationDate" type="text" readonly="readonly" th:value="${adPromotion.creationDate}"
                                                class="form-control col-md-7 col-xs-12">
                                             </input>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="adPicPath">LOGO图片 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span name="adPicPath" id="adPicPath" th:if="${adPromotion.adPicPath == null || adPromotion.adPicPath == ''}">
                                                暂无
                                            </span>
                                            <span name="adPicPath" id="adPicPath" th:if="${adPromotion.adPicPath!=null}">
                                                <img th:src="${adPromotion.adPicPath }" width="100px;"/>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button id="send" type="submit" class="btn btn-success">保存</button>
                                            <button type="button" class="btn btn-primary" id="back">
                                                <a th:href="@{/manager2/backend/app/appADlist1}" style="color: white;">返回</a></button>
                                            <br/><br/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- footer content -->
<footer>
    <div class="pull-right">
        ©2016 All Rights Reserved.
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/fastclick.js}" type="text/javascript"></script>
<script th:src="@{/js/nprogress.js}" type="text/javascript"></script>
<script th:src="@{/js/custom.min.js}" type="text/javascript"></script>
<script th:src="@{/localjs/rollpage.js}" type="text/javascript"></script>
<script th:src="@{/localjs/applist.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" type="text/javascript"></script>
</html>