<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>APP开发者平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/green.css}" rel="stylesheet"/>
    <link th:href="@{/css/dropzone.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!--<link th:href="@{/css/font.min.css}" rel="stylesheet"/>-->
    <!--<link href="../../static/css/font-awesome.min.css" rel="stylesheet"/>-->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/nprogress.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jqvmap.min.css}" rel="stylesheet"/>
    <link th:href="@{/localcss/appinfoadd.css}" rel="stylesheet"/>
    <link th:href="@{/localcss/appinfolist.css}" rel="stylesheet"/>
</head>
<body class="nav-md footer_fixed">
<div class="container body">
    <div class="main_container">
        <div th:replace="developer/head::head1"></div>
        <div th:replace="developer/head::head2"></div>
        <!-- /top navigation -->
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>查看APP信息 <i class="fa fa-user"></i><small><span th:text="${session.devinfo.getDevName()}"></span>}</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_title">
                                <h2>APP基础信息</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content1">
                                <form class="form-horizontal form-label-left" >
                                    <input type="hidden" name="id" th:value="${appInfo.id}"/>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="softwareName">软件名称 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12" th:value="${appInfo.softwareName}"
                                                  id="softwareName" type="text" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="APKName">APK名称 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   id="APKName"
                                                   th:value="${appInfo.APKName}" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supportROM">
                                            支持ROM <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12"
                                                   id="supportROM"
                                                   th:value="${appInfo.supportROM}" type="text" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="interfaceLanguage">界面语言 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12" readonly="readonly"
                                                   id="interfaceLanguage"
                                                   th:value="${appInfo.interfaceLanguage}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="softwareSize">软件大小 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" th:value="${appInfo.softwareSize}"
                                                   id="softwareSize" name="softwareSize"
                                                   class="form-control col-md-7 col-xs-12" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="downloads">下载次数 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" th:value="${appInfo.downloads}"
                                                   id="downloads" name="downloads"
                                                   class="form-control col-md-7 col-xs-12" readonly="readonly"/>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="flatformName">所属平台 <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   id="flatformName" name="flatformName"
                                                   th:value="${appInfo.flatformName}" readonly="readonly"/>

                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select">所属分类 <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   id="select" name="select"
                                                   th:value="${appInfo.categoryLevel1Name}+ '-->'+ ${appInfo.categoryLevel2Name} +'-->' + ${appInfo.categoryLevel3Name}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="statusName">APP状态 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12"
                                                   id="statusName" name="statusName"
                                                   th:value="${appInfo.statusName}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">应用简介 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <textarea id="textarea" class="form-control col-md-7 col-xs-12" readonly="readonly"
                                                    th:text="${appInfo.appInfo}">
                                          </textarea>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logoPicPath">LOGO图片 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span id="logoPicPath" name="logoPicPath"
                                                  th:if="${appInfo.logoPicPath == null || appInfo.logoPicPath == ''}">
                                                 暂无
                                            </span>
                                            <span id="logoPicPath" name="logoPicPath"
                                                  th:if="${appInfo.logoPicPath != null || appInfo.logoPicPath != ''}">
                                                 <img th:src="${appInfo.logoPicPath }" width="100px;"/>
                                            </span>
                                            <!--<c:choose>-->
                                                <!--<c:when test="${appInfo.logoPicPath == null || appInfo.logoPicPath == ''}">-->
                                                    <!--暂无-->
                                                <!--</c:when>-->
                                                <!--<c:otherwise>-->
                                                    <!--<img src="${appInfo.logoPicPath }?m=1" width="100px;"/>-->
                                                <!--</c:otherwise>-->
                                            <!--</c:choose>-->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                            <div class="x_title">
                                <h2>历史版本列表</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="display: block;">
                                <br/>
                                <div id="datatable-responsive_wrapper"
                                     class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                                   cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 70px;" aria-label="First name: activate to sort column descending"
                                                        aria-sort="ascending">软件名称</th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 10px;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        版本号</th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 90px;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        版本大小(单位:M)</th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 50px;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        发布状态</th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 50px;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        APK文件下载</th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 50px;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        最新更新时间</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" class="odd" th:each="appVersion:${appVersionList }" >
                                                        <td tabindex="0" class="sorting_1" th:text="${appVersion.appName}"></td>
                                                        <td th:text="${appVersion.versionNo }"></td>
                                                        <td th:text="${appVersion.versionSize }"></td>
                                                        <td th:text="${appVersion.publishStatusName }"></td>
                                                        <td>
                                                            <a th:href="${appVersion.downloadLink }" th:text="${appVersion.apkFileName}"> </a>
                                                        </td>
                                                        <td th:text="${appVersion.modifyDate}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" id="back">返回</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">©2016 All Rights Reserved.</div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/fastclick.js}" type="text/javascript"></script>
<script th:src="@{/js/nprogress.js}" type="text/javascript"></script>
<script th:src="@{/js/custom.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dropzone.js}" type="text/javascript"></script>
<script th:src="@{/localjs/rollpage.js}" type="text/javascript"></script>
<script th:src="@{/localjs/appinfoview.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}" type="text/javascript"></script>
</html>